<div class='nested-fields'>
  <%= f.input :amount %>
  <%= f.input :due_date, :as => :string, :input_html => {:class => 'date'} %>
  <%= f.input :paid %>
  <div class="control-group column-filler">
  </div>
  <%= link_to_remove_association (t "remove_installment"), f %>
  <hr class="one-line-hr">
</div>
