<h3><%= t :users %></h3>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %> <%= t :created_at %> <%= user.created_at.to_date.to_s.gsub('-', '/') %>
    </li>
  <% end %>
</ul>