<% if object.errors.any? %>
    <div id="error_explanation">
      <h2><%= object.errors.count %><%= t 'validation_error_count_message' %></h2>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
<% end %>