<!--<h3>خانه</h3>

<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>
-->
			
<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
    <h1><%=t "application"%></h1>
    <%=	 Address::LEVELS.map {|o| I18n.t (o)}.zip(Address::LEVELS)  %>
    <p>پیگیری و وصول مطالبات معوق ارجاع شده از سوی بانک ها، موسسات مالی و اعتباری ،شرکتهای لیزینگ، شرکتهای بیمه و کلیه شرکتها و وصول مطالبات معوق پیمانکاران پروژه های دولتی ، خصوصی و اشخاص حقیقی </p>
    <p><a class="btn btn-primary btn-large">بیشتر بدانید &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="span4">
        <h2>کسب اطلاعات</h2>
        <p>کسب اطلاعات جامع جهت شناسایی اموال و دارایی های منقول و غیر منقول اشخاص حقیقی و حقوقی بدهکار به بانکها، شرکتها، موسسات یاده شده و اشخاص حقیقی </p>
        <p><a class="btn" href="#">بیشتر &raquo;</a></p>
    </div>
   
    <div class="span4">
        <h2>اخذ نمایندگی</h2>
        <p> اخذ نمایندگی یا وکالت از طرف بانکها، شرکتها و موسسات یاد شده برای طرح و اقامه دعوی در مراجع قضایی و ثبتی </p>
        <p><a class="btn" href="#">بیشتر &raquo;</a></p>
   </div>
   <div class="span4">
       <h2>خرید مطالبات </h2>
       <p>خرید مطالبات بانک ها ، موسسات، شرکتهای یاد شده و اشخاص حقیقی  </p>
       <p><a class="btn" href="#">بیشتر &raquo;</a></p>
   </div>
</div>

