/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require theme.css
 *= require calendar-theme.css
 *= require bootstrap-rtl.min.css
 *= require bootstrap-responsive-rtl.min.css
 *= require rtl.css
 *= require_self
*/

@font-face {
  font-family: 'B Yekan';
  src: url('http://www.font-api.ir/fontsdir/47.eot?#') format('eot'), url('http://www.font-api.ir/fontsdir/47.woff') format('woff'), url('http://www.font-api.ir/fontsdir/47.ttf') format('truetype');
}

div.field {
  float: right;
  min-width: 50% !important;
  min-height: 60px !important;
}

div.action {
  clear: both;
  right: 0px;
}

.number, .english, .ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.field_with_errors * {
  color: red;
}

#list-table {
  width: 90%;
}