<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header" >مشتریان</li>
      <li>
        <%= link_to (t "new_customer"), new_customer_path %>
      <li> <%= link_to (t "customers"), customers_path %></li>
      <li> <%= link_to (t "destroy_customer"), customers_path %></li>
      <li> <%= link_to (t "edit_customer"), customers_path %></li>
      <li class="nav-header">قراردادها</li>
      <li><a href="#">لیست قراردادها</a></li>
      <li><a href="#">جستجو</a></li>
      <li><a href="#">عملیات اصلی</a></li>
      <li><a href="#">سایر عملیات</a></li>
      <li><a href="#">...</a></li>
      <li class="nav-header">Sidebar</li>
      <li><a href="#">...</a></li>
      <li><a href="#">...</a></li>
      <li><a href="#">...</a></li>
    </ul>
  </div>
</div>
